.App {
  text-align: center;
}
.blueTeam{
  float:left;
  background: black;
  width:15%;
  height:800px;
}
.redTeam{
  float:right;
  background: black;
  width:15%;
  height:800px;
}
.blue-champ{
  width:15%;
  height:150px;
}
.red-champ{
  width:15%;
  height:150px;
}
.scoreBoard{
  float:center;
  background: black;
  height:300px;
}
.searchBox{
  float:center;
  background: black;
}
.selectBox{
  float:center;
  background: black;
  height:490px;
  overflow: scroll;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px
}
